.h-transition-1 {
  position: absolute;
  bottom: 0;
  right: -850px;
  z-index: 30;
}
.h-transition-2 {
  position: absolute;
  bottom: 0;
  right: -850px;
  z-index: 32;
}
.h-transition-3 {
  position: absolute;
  bottom: 0;
  right: -850px;
  z-index: 33;
}
.scroll-h {
  display: inline flex;
  position: absolute;
  height: 100vh;
  bottom: 0px;
  right: -800px;
}
.h-img {
  display: flex;
  flex-direction: column;
}
.h-1 {
  height: 200px;
}

.jsp {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
