.h-transition-1 {
  position: absolute;
  bottom: 0;
  height: 100vh;
  right: -850px;
  z-index: 30;
}
.h-transition-2 {
  position: absolute;
  bottom: 0;
  right: -850px;
  height: 100vh;
  z-index: 32;
}
.h-transition-3 {
  position: absolute;
  bottom: 0;
  right: -850px;
  height: 100vh;
  z-index: 33;
}
.scroll-h {
  display: inline flex;
  position: absolute;
  gap: 237px;
  height: 100vh;
  bottom: 0px;
  left: 120%;
}
.h-img {
  display: flex;
  flex-direction: column;
}
.h-1 {
  height: 57vh;
  margin-bottom: 20vh;
}
.h-2 {
  height: 57vh;
  margin-top: 20vh;
}
.h-3 {
  height: 70vh;
  margin-bottom: 10vh;
}
.h-section-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 237px;
  align-items: center;
}
.h-4 {
  height: 92vh;
}

.h-section-2 {
  position: relative;
  display: flex;
  align-items: center;
}
.h-5 {
  height: 57vh;
  margin-top: 20vh;
}
.h-6 {
  height: 57vh;
  margin-bottom: 20vh;
}
.h-7 {
  height: 70vh;
  margin-top: 10vh;
}
.h-8 {
  height: 70vh;
  margin-bottom: 10vh;
}
.h-section-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 237px;
  align-items: center;
}
.h-9 {
  height: 80vh;
}
.h-section-4 {
  position: relative;
  display: flex;
  align-items: center;
}
.h-10 {
  height: 100vh;
}
.h-11 {
  height: 100vh;
}
.h-11-gradiant {
  position: absolute;
  width: 97vh;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) -10%, #000304 99%);
  top: 0;
  right: 0px;
  z-index: 34;
}
.h-section-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
}
.h-12 {
  height: 90vh;
}
.h-section-6 {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 800px;
  margin-right: 300px;
}
.books {
  position: relative;
}
.book {
  position: relative;
  height: 80vh;
  z-index: 6;
  transition: all 0.25s ease;
}
.book:hover {
  opacity: 0.3;
  z-index: 3;
}
.buy {
  position: absolute;
  right: 37%;
  top: 50%;
  opacity: 1;
  padding: 15px 80px 19px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-family: "Albert Sans";
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.1px;
  z-index: 5;
  transition: all 0.25s ease;
}
.buy:hover {
  color: #000000;
  background-color: #fff;
  z-index: 7;
}
.bd-title {
  color: #fff;
  font-family: Dorsa;
  font-size: 562px;
  font-weight: 400;
  line-height: 222px;
  text-transform: uppercase;
}
.footer-credit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 120px;
  margin-left: 100px;
}
.credit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: right;
  font-family: "Albert Sans";
  font-size: 50px;
  font-weight: 400;
  line-height: 139%;
  letter-spacing: -3.5px;
}
.back-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  transition: all 0.25s ease;
}
.back-button:hover {
  gap: 25px;
}

.all-credit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 120px;
}
.back {
  position: relative;
  display: flex;
  padding: 15px 80px 19px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  text-align: center;
  font-family: "Albert Sans";
  font-size: 30px;
  font-weight: 250;
  letter-spacing: -2.1px;
  transition: all 0.25s ease;
}
.back:hover {
  background: #fff;
  color: #000000;
}
