.scroll {
  background-image: url("../img/scroll-background.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 200vh;
  width: 100vw;
  position: relative;
}
.scroll-b {
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 29;
}
.scroll-c {
  position: absolute;
  bottom: -10%;

  width: 100%;
  z-index: 28;
}
.scroll-d {
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 27;
}
.scroll-e {
  position: absolute;
  top: 10%;
  z-index: 26;
}

.scroll-text-1 {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 31;
}
.scroll-text-2 {
  position: absolute;
  text-align: right;
  top: 80vh;
  right: 50px;
  z-index: 31;
}
