.first-button {
  position: absolute;
  bottom: 5%;
  left: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 29;
}
.button-bd {
  color: #fff;
  text-align: center;
  font-family: "Albert Sans";
  font-size: 20px;
  font-weight: 400;
  padding: 10px 50px 10px 50px;
  letter-spacing: -1.5px;
  border-radius: 100px;
  border: 2px solid #fff;
  background-color: transparent;
}
.zoom {
  position: absolute;
  height: 100%;
  width: 100%;
}
.text {
  position: absolute;
  width: 100%;
  color: #fff;
  font-family: "Bricolage Grotesque";
  font-size: 40px;
  font-style: normal;
  font-weight: 550;
}
.zoom-1-a {
  bottom: -3vh;
  z-index: 28;
}
.zoom-1-b {
  bottom: -3vh;
  z-index: 27;
}
.zoom-1-title {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Dorsa;
  font-size: 35vw;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 26;
}
.zoom-1-background {
  top: 0;
  z-index: 25;
}
.zoom-2-a {
  bottom: -10vh;
  z-index: 24;
}
.zoom-2-b {
  bottom: -10vh;
  z-index: 23;
}
.zoom-2-text {
  top: 12%;
  right: 5%;
  text-align: right;
  z-index: 22;
}
.zoom-2-moon {
  top: 5%;
  left: 5%;
  width: 100vw;
  height: auto;
  z-index: 21;
}
.zoom-2-background {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.zoom-3-a {
  bottom: -10vh;
  z-index: 19;
}
.zoom-3-b {
  bottom: -10vh;
  z-index: 18;
}
.zoom-3-g {
  bottom: -10vh;
  z-index: 17;
}
.zoom-3-c {
  bottom: -10vh;
  z-index: 16;
}
.zoom-3-h {
  bottom: -10vh;
  z-index: 15;
}
.zoom-3-d {
  bottom: -10vh;
  z-index: 14;
}

.zoom-3-text {
  top: 22%;
  right: 5%;
  text-align: right;
  z-index: 13;
}
.zoom-3-2-text {
  top: 8%;
  left: 5%;
  text-align: left;
  z-index: 12;
}
.zoom-3-background {
  top: 0;
  height: 140%;
  z-index: 11;
}
.zoom-4-a {
  bottom: -3vh;
  z-index: 10;
}
.zoom-4-b {
  bottom: -3vh;
  z-index: 9;
}

.zoom-4-text {
  top: 22%;
  right: 5%;
  text-align: right;
  z-index: 8;
}
.zoom-4-2-text {
  top: 8%;
  left: 5%;
  text-align: left;
  z-index: 7;
}
.zoom-4-background {
  top: 0;
  z-index: 6;
}
.zoom-5-a {
  bottom: -3vh;
  z-index: 5;
}
.zoom-5-b {
  bottom: -3vh;
  z-index: 4;
}
.zoom-5-text {
  top: 22%;
  right: 20%;
  text-align: right;
  z-index: 3;
}
.zoom-5-2-text {
  top: 8%;
  right: 5%;
  text-align: right;
  z-index: 3;
}

.zoom-5-background {
  top: 0;
  z-index: 1;
}
