.first-button {
  position: absolute;
  bottom: 5%;
  left: 40%;
  right: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 13;
}
.button-bd {
  color: #fff;
  text-align: center;
  font-family: "Albert Sans";
  font-size: 20px;
  font-weight: 400;
  padding: 10px 50px 10px 50px;
  letter-spacing: -1.5px;
  border-radius: 100px;
  border: 2px solid #fff;
  background-color: transparent;
}
.zoom {
  position: absolute;
  height: 100%;
  width: 100%;
}
.zoom-1-a {
  bottom: -3vh;
  z-index: 12;
}
.zoom-1-b {
  bottom: -3vh;
  z-index: 11;
}
.zoom-1-title {
  position: absolute;
  top: -5%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Dorsa;
  font-size: 500px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
}
.zoom-1-background {
  top: 0;
  z-index: 9;
}
.zoom-2-a {
  bottom: -10vh;
  z-index: 8;
}
.zoom-2-b {
  bottom: -10vh;
  z-index: 7;
}
.zoom-2-text {
  position: absolute;
  top: 12%;
  right: 5%;
  width: 100%;
  color: #fff;
  text-align: right;
  font-family: "Bricolage Grotesque";
  font-size: 60px;
  font-style: normal;
  font-weight: 550;
  z-index: 6;
}
.zoom-2-background {
  top: 0;
  height: 140%;
  z-index: 5;
}
.zoom-3-a {
  bottom: -10vh;
  z-index: 4;
}
.zoom-3-b {
  bottom: -10vh;
  z-index: 3;
}
.zoom-3-text {
  position: absolute;
  top: 12%;
  right: 5%;
  width: 100%;
  color: #fff;
  text-align: right;
  font-family: "Bricolage Grotesque";
  font-size: 60px;
  font-style: normal;
  font-weight: 550;
  z-index: 2;
}
.zoom-3-background {
  top: 0;
  height: 140%;
  z-index: 1;
}
