.first-button {
  position: absolute;
  bottom: 5%;
  left: 40%;
  right: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 10;
}
.button-bd {
  color: #fff;
  text-align: center;
  font-family: "Albert Sans";
  font-size: 20px;
  font-weight: 400;
  padding: 10px 50px 10px 50px;
  letter-spacing: -1.5px;
  border-radius: 100px;
  border: 2px solid #fff;
  background-color: transparent;
}
.zoom {
  position: absolute;
}
.zoom-1-a {
  position: absolute;
  bottom: -3vh;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.zoom-1-b {
  position: absolute;
  bottom: -3vh;
  width: 100%;
  height: 100%;

  z-index: 8;
}
.zoom-1-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
}
.zoom-1-text {
  position: absolute;
  top: -5%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Dorsa;
  font-size: 500px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 7;
}
