* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, #000304 50%);
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
